<h2>Main Content</h2>
<div class="row">
    <% for(let i = 0; i < products.length; i++){%>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h3><%= products[i].title; %></h3>
                </div>
                <div class="card-body">
                    <img src="./images/mobile1.jpg" class="container" />
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <span>Price : $<%= products[i].price; %>/-</span>
                        </div>
                        <div class="col-6 text text-end">
                            <a href="/add-to-cart?productId=<%= products[i].id; %>" class="btn btn-info">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%} %>
</div>
    
    