<div class="row">
    <form action="/register" method="post">
        <div class="card">
            <div class="card-header">
                <h3 class="text text-center">Registration Portal</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 mt-3">
                        <label for="">First Name</label>
                        <input type="text" name="firstName" class="form-control" />
                    </div>
                    <div class="col-6 mt-3">
                        <label for="">Last Name</label>
                        <input type="text" name="lastName" class="form-control" />
                    </div>
                    <div class="col-6 mt-3">
                        <label for="">Email</label>
                        <input type="email" name="userEmail" class="form-control" />
                    </div>
                    <div class="col-6 mt-3">
                        <label for="">Contact</label>
                        <input type="number" name="contact" class="form-control" />
                    </div>
                    <div class="col-6 mt-3">
                        <label for="">DOB</label>
                        <input type="date" name="dob" class="form-control" />
                    </div>
                    <div class="col-6 mt-3">
                        <label for="">Gender</label>
                        <br/>
                        <span>
                            <input type="radio" name="gender" value="male" />
                            Male
                        </span>
                        <span>
                            <input type="radio" name="gender" value="female" />
                            Female
                        </span>
                        <span>
                            <input type="radio" name="gender" value="other" />
                            Other
                        </span>
                    </div>
                    
                    <div class="col-6 mt-3">
                        <label for="">Hobbies</label>
                        <br/>
                        <span>
                            <input type="checkbox" name="hobbies" value="Chess" />
                            Chess
                        </span>
                        <span>
                            <input type="checkbox" name="hobbies" value="Cricket" />
                            Cricket
                        </span>
                        <span>
                            <input type="checkbox" name="hobbies" value="Painting" />
                            Painting
                        </span>
                        <span>
                            <input type="checkbox" name="hobbies" value="Hockey" />
                            Hockey
                        </span>
                        <span>
                            <input type="checkbox" name="hobbies" value="Dance" />
                            Dance
                        </span>
                    </div>

                    <div class="col-6 mt-3">
                        <label>Pincode</label>
                        <input type="number" name="pincode" class="form-control" />
                    </div>

                    <div class="col-12 mt-3">
                        <label>Address</label>
                        <textarea name="address" class="form-control"></textarea>
                    </div>
                    
                    <div class="col-6 mt-3">
                        <label>Passwod</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    
                    <div class="col-6 mt-3">
                        <label>Confirm Passwod</label>
                        <input type="password" name="confirmPassword" class="form-control" />
                    </div>
                    
                </div>
            </div>
            <div class="card-footer text text-center">
                <input type="submit" class="btn btn-outline-primary btn-lg" value="Submit" />
            </div>
        </div>
    </form>
</div>